<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 메뉴</title>
    <link rel="stylesheet" href = "../../static/css/loginDto.css">
    <style>
        a{
            color: black;
            border-radius: 10rem;
            border: 1px solid mediumseagreen;
            padding: 15px;
        }
        .login{
            background-color: mediumseagreen;
            color: white;
            margin-left: 10px;
        }
        .join{
            margin-left: 30px;
            background-color: white;
            color: mediumseagreen;
        }
    </style>
</head>
<body>
    <br><br>
    <a href = "join.html" class = join>회원가입하기</a>
    <a href = "login.html" class = login>로그인하기</a>
</body>
</html>