<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <style>
        form{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <form action="joinSuccess" method="post">
        아아디<br><input type="text" name="id"><br><br>
        비밀번호<br><input type="password" name="password"><br><br>
        비밀번호 확인<br><input type="password" name="passwordConfirm"><br><br>
        <input type="submit" value = "회원가입"><br><br>
    </form>
</body>
</html>